
.table-items{
    margin-left:30px;
    margin-top:30px;
}

.item-table{
    margin-top:30px;
    margin-left:15px;
}

.table-headers{
    text-align: center;
    width: 100%;
  }

.create-container{
    border:1pt solid white;
}

.new-item-accounting{
    margin-top:30px;
    border:1pt solid white;
    background-image: URL('/random_grey_variations.png');
}

.lbl-new-item{
    color: white;
    margin-left:80px;
    margin-top:10px;
    font-family: 'Playfair Display SC', serif;
}

.graphs{
    padding:15px;
    margin-left:15px;
    margin-top:20px;
    margin-bottom:20px;
    color:white;
    border:1pt solid white;
    background-image: URL('/random_grey_variations.png');
}

.input-new-item{
    margin-left:80px;
    width: 250px;
    font-Family:"'Gotu', sans-serif";
}

.text-new-item{
    margin-left:80px;
    width: 250px;
    height:100px;
}

.btn-submit-item{
    margin-top:30px;
    margin-left:80px;
    margin-bottom:20px;
    background-color: rgb(89, 89, 189);
    color:whitesmoke;
    text-shadow: none;
    border:1pt solid black;
    width:250px;
    font-family: 'Playfair Display SC', serif;
    border-radius: 5px;
}

.dropdown-month{
    margin-left:80px;
    width: 250px;
    font-Family:"'Gotu', sans-serif";
}

.lbl-sl-year{
    margin-top:15px;
    margin-left:40px;
    color:white;
    font-size: 15pt;
    font-family: 'Playfair Display SC', serif;
}

.dropdown-year{
    margin-left:20px;
    margin-top:15px;
    width: 100px;
    font-Family:"'Gotu', sans-serif";
}

.graph-head{
    font-family: 'Playfair Display SC', serif;
}