
.dropdown-year{
    text-indent: 20px;
}

.graphs{
    color:black;
    background: rgba(61, 59, 59, 0.4);
    border-radius: 5px;
    border: none;
}

.new-item-accounting{
    background-image:URL("/dust_scratches.png");
    border-radius: 5px;
}

.graph-head{
    margin-bottom:-30px;
    font-weight: bolder;
}

.lbl-new-item{
    color:black;
}

.lbl-sl-year{
    color:black;
}

.img-account{
    pointer-events: none;
}

.btn-show{
    margin-right:120px;
    border-radius: 5px;
    outline:none !important;
    margin-top:-45px !important;
}

.btn-show:hover{
    background-color: black;
}

.item-table{
    width: 100%;
}

.head-month{
    width: 100px;
}

.head-date{
    width: 140px;
}

.head-amount{
    width: 90px;
}

.head-type{
    width: 220px;
}

.head-descr{
    width: 350px;
}

.head-action{
    width:100px;
}