body{
    background-image: URL("/bedge_grunge.png");
}

.main-container{
    padding-left:50px;
    padding-top:30px;
}

.lbl-employee{
    font-weight: bold;
    margin-right: 10px;
    font-family: 'Mitr', sans-serif;
}

.table-headers{
    text-align: center;
    font-family: 'Markazi Text', serif;
    font-size: 16pt;
}

.table-body{
    font-family: 'Frank Ruhl Libre', serif;
}

.table-date{
    text-align: center;
}

.button-container{
    text-align: center;
}


.btn-crt-iss{
    margin-top:20px;
    border-radius: 5px;
    outline:none !important;
}

.btn-crt-iss:hover{
    background-color: black;
}


.fa{
    pointer-events: none;
}

.emp-dropdown{
    margin-bottom:30px;
    text-indent: 10px;
    width: 200px;
    font-family: 'Frank Ruhl Libre', serif;
}

.btn-delete{
    background-color: red;
    border-radius: 5px;
    border:none;
}

.support-doc{
    text-decoration: none!important;
    color:white;
}

.support-doc:hover{
    color:black;
}
