

.links{
    text-emphasis: none!important;
    text-decoration: none!important;
    color:white;
}

.links:hover {
    color:white;
}

.link-container {
    background-color: black;
    padding:10px;
}