

.links{
    text-emphasis: none!important;
    text-decoration: none!important;
    color:white;
}

.links:hover {
    color:red;
}

.link-container {
    background-Image:URL("/rubber_grip.png");
    padding:5px;
}

.btn-signout:hover{
    background: rgba(65, 18, 18, 0.4) !important;
    color: black !important;
}